@import "../vars";

.catalog{
  margin: 50px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: $text-main;

  &__title{
    display: flex;
  }

  &__header{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;

    &__top{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__bottom{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 40px;

      & div{
        width: auto;
        display: flex;
        gap: 10px;
        color: $text-sec;
      }
    }
  }

  &__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;

    &__filters{
      border: 1px solid $text-main;
      padding: 10px 20px;
      width: 314px;
      height: auto;
      display: flex;
      flex-direction: column;

      &__button{
        margin-bottom: 20px;

        &__apply{
          margin-bottom: 20px;
          margin-top: 20px;
        }

        &__clear{
        }
      }

      &__block{
        display: flex;
        flex-direction: column;

        & h3{
          cursor: pointer;
        }

        &__container{
          transition: height 0.3s;
          height: 0;
          overflow: hidden;
          overflow-y: auto;
        }

        &__open{
          opacity: 1;
          flex-direction: column;
          height: 300px !important;
        }

        &__closed{
          opacity: 0;
        }

        &__option{
          display: flex;
          align-items: center;
          gap: 10px;
          cursor: pointer;
          color: $text-sec;

          & label{
            cursor: pointer;

          }
        }

        &__color{
          display: inline-block;
          border: 1px solid #1E1D1D20;
          background: #dcb395;
          min-height: 15px;
          min-width: 15px;
          border-radius: 50%;
        }

        & div{
          display: flex;
          flex-direction: column;
          gap: 20px;

          & div{
            display: flex;
            flex-direction: row;
          }
        }

        &__header{
          width: 100%;
          display: flex !important;
          flex-direction: row !important;
          align-items: center;
          cursor: pointer;
          justify-content: space-between;
          padding-top: 20px;
          padding-bottom: 20px;

          &:hover h3{
            color: $block-main;
          }
        }
      }
    }

    &__products{
      width: 70%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      gap: 30px;

      &__nothing{
        width: 100%;
        height: 800px;
        display: flex;
        justify-content: center;
        padding-top: 100px;
        color: $text-sec;
        user-select: none;
      }

      &__footer{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 40px;

        & div{
          display: flex;
          width: auto;
          gap: 10px;
          color: $text-sec;
        }
      }

      &__cards {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 30px;

        & div{
          position: relative;
        }
      }

      &__pages{
        display: flex;
        align-items: center;
        gap: 20px;
        margin-bottom: 20px;

        &__pl{
          width: 30px;
          height: 30px;
        }

        & svg{
          cursor: pointer;
          width: 30px;
          height: 30px;
        }

        &__page{
          padding: 10px 18px;
          border: 1px solid $text-main;
          cursor: pointer;
        }

        &__active{
          color: white;
          background: $text-main;
        }
      }
    }
  }

  &__seen{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 40px;

    &__cards{
      height: 400px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__card{
        position: relative;
        width: 300px;
      }

      &__card:last-child{
        margin-right: 0;
      }
    }

    &__not_found{
      height: 300px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $text-sec;
    }
  }
}

.new__block{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  padding: 15px;
  background: $block-main;
  color: $text-thrd;
  position: relative;
  top: -5px;
  margin: 2px;
  user-select: none;
}

.hit__block{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  padding: 15px;
  background: $block-frth;
  color: $text-thrd;
  position: relative;
  top: -5px;
  margin: 2px;
  user-select: none;
}


@media screen and (max-width: 1400px) {
  .catalog {

    &__seen {

      &__cards {

        &__card {
          position: relative;
          width: 205px;
        }
      }
    }
  }
}
