@import "../vars";

.documents {

    &__wrapper {
        width: 100%;
        margin-bottom: 84px;
        display: flex;
        flex-direction: column;
        margin-top: 50px;

        &__export{
            display: flex;
        }
    }

    & h1 {
        font-weight: 600;
        margin-bottom: 50px;
    }

    & h2 {
        font-size: 18px;
        font-weight: 600;
    }

    & a{
        color: $text-main;
    }

    &__certificates {
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        gap: 25px;

        &__pdf {
            font-weight: 600;
            font-size: 24px;
            text-decoration-line: underline;
            display: flex;
            align-items: center;

            & svg{
                min-width: 100px;
            }
        }

        &__doc {
            font-weight: 600;
            font-size: 24px;
            text-decoration-line: underline;
            display: flex;
            align-items: center;

            & svg{
                min-width: 100px;
            }
        }
    }

    &__cataloge {
        margin-bottom: 45px;
        display: flex;
        flex-direction: column;
        gap: 25px;

        &__exel {
            font-weight: 600;
            font-size: 24px;
            display: flex;
            align-items: center;
            text-decoration-line: underline;

            & svg{
                min-width: 100px;
            }
        }
    }

    &__info{
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        gap: 50px;

        & h2{
            margin-bottom: 0;
        }

        & p{
            font-weight: 600;
            font-size: 24px;
        }
    }
}