@import "../colors";

.card{
  width: 300px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  &__image{
    position: absolute;
    top: 0;

    & img{
      width: 100%;
      user-select: none;
    }
  }

  &__new__block{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    padding: 15px;
    background: $block-main;
    color: $text-thrd;
    z-index: 15;
  }

  &__hit__block{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    padding: 15px;
    background: $block-frth;
    color: $text-thrd;
    z-index: 15;
  }

  &__new{

    .card__header__new__discount{
      color: $block-main;
    }

    & svg{
      fill: $block-thrd;
    }

    .card__header__fav__active svg{
      fill: $block-main;

      & path{
        stroke: none
      }
    }
  }

  &__hit{

    .card__header__new__discount{
      color: $block-frth;
    }

    & svg{
      fill: $block-thrd;
    }

    .card__header__fav__active svg{
      fill: $block-frth;

      & path{
        stroke: none
      }
    }
  }

  &__header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 25;

    &__fav{
      cursor: pointer;
    }

    &__new{
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }

  &__content{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 0 5px 0;

    & h2{
      font-size: 18px;
    }

    &__footer{
      display: flex;
      justify-content: space-between;
      width: 100%;

      &__info{
        display: flex;
        gap: 10px;
        align-items: center;
      }

      &__color{
        display: inline-block;
        background: #dcb395;
        height: 15px;
        width: 15px;
        border-radius: 50%;
      }
    }
  }
}