@import "../vars";

.card{
  width: 300px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  color: $text-main;

  &__image{
    position: absolute;
    height: 300px;
    overflow: hidden;

    & img{
      width: 300px;
      user-select: none;
    }
  }

  &__new__block{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    padding: 15px;
    background: $block-main;
    color: $text-thrd;
    z-index: $z-index-base;
    user-select: none;
  }

  &__hit__block{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    padding: 15px;
    background: $block-frth;
    color: $text-thrd;
    z-index: $z-index-base;
    user-select: none;
  }

  &__new{

    .card__header__new__discount{
      color: $block-main;
    }

    & svg{
      fill: $block-thrd;
    }

    .card__header__fav__active svg{
      fill: $block-main;

      & path{
        stroke: none
      }
    }
  }

  &__hit{

    .card__header__new__discount{
      color: $block-frth;
    }

    & svg{
      fill: $block-thrd;
    }

    .card__header__fav__active svg{
      fill: $block-frth;

      & path{
        stroke: none
      }
    }
  }

  &__header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: $z-index-base;
    padding-right: 3px;
    height: 30px;

    &__fav{
      cursor: pointer;
      display: flex;
      align-items: center;

      & svg{
        fill: $block-thrd;
      }

      &__active svg{
        fill: $block-main;

        & path{
          stroke: none
        }
      }
    }

    &__new{
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }

  &__content{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 0 5px 0;

    & a{
      color: $text-main;
    }

    & h2{
      font-size: 18px;
    }

    &__footer{
      display: flex;
      justify-content: space-between;
      width: 100%;

      &__info{
        display: flex;
        gap: 10px;
        align-items: center;
      }

      &__color{
        display: inline-block;
        border: 1px solid #1E1D1D40;
        height: 15px;
        width: 15px;
        border-radius: 50%;
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  .card{
    width: 205px;
    height: 340px;

    &__image{
      height: 210px;

      & img{
        width: 205px;
        user-select: none;
      }
    }
  }
}