@import "../vars";

.footer {
  width: 100%;
  background: inherit;
  display: flex;
  align-items: center;
  justify-content: center;

  &__img1{
    background: url(../../public/images/logo2.png) no-repeat;
    background-size: contain;
    width: 370px;
    height: 170px;
  }

  &__img2{
    background: url(../../public/images/footer_img_2.png) no-repeat;
    background-size: contain;
    width: 370px;
    height:130px;
  }

  &__table{
    width: 70%;
    border-collapse: separate;
    height: 250px;

    & thead {

    }

    & th{
      font-size: 20px;
      text-align: start;
      padding-bottom: 20px;
    }

    & td{
      vertical-align: top;
      max-width: 200px;

      & a{
        margin-top: 20px;
        text-decoration: none;
        color: $text-sec;

        &:hover{
          color: $block-main;
        }
      }
    }
  }
}

.wrapper {
  height: 100%;
  width: 1400px;
  display: flex;
  justify-content: space-between;

  &__imgs{
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}