@import "../colors";

.footer {
  width: 100%;
  background: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;

  &__img{
    background: url(../../public/images/logo2.png) no-repeat;
    background-size: contain;
    width: 370px;
    height: 170px;
  }

  &__table{
    width: 70%;
    border-collapse: separate;

    & thead {

    }

    & th{
      font-size: 20px;
      text-align: start;
      padding-bottom: 20px;
    }

    & td{
      max-width: 160px;

      & a{
        text-decoration: none;
        color: $text-sec;

        &:hover{
          color: $block-main;
        }
      }
    }
  }
}

.wrapper {
  height: 100%;
  width: 1400px;
  display: flex;
  justify-content: space-between;
}