@import "../colors";

.header {
  width: 100%;
  background: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 180px;
}

.wrapper {
  position: relative;
  height: 100%;
  width: 1400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.top{
  width: 100%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  &__nav{
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid $block-main;
  }
  


  &__btns{
    display: flex;
    align-items: center;
    gap: 20px;

    & a{
      display: flex;
      align-items: center;
    }

    &__test{
      border-radius: 50%;
      border: 1px solid #00000050;
      overflow: hidden;
      cursor: pointer;
      width: 30px;
      height: 30px;

      & svg{
        width: 100%;
        height: 100%;
        opacity: 0.6;
      }
    }

    &__image{
      border-radius: 50%;
      border: 1px solid #00000050;
      overflow: hidden;

      & img{
        width: 100%;
        height: 100%;
      }
    }

    &__btn{
      display: flex;
      align-items: center;
      cursor: pointer;
      height: 30px;

      &__count{
        background: $block-main;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        margin-bottom: 15px;
        margin-left: 10px;
        color: #A0A0A0
      }

      &__container{
        height: 100%;
      }

      &__results {
        position: relative;
        display: flex;
        flex-direction: column;
        background: white;
        width: 200px;
        border: 1px solid $text-sec;
        border-top: none;
        right: -25px;

        &__notfound{
          display: flex;
          align-items: center;
          color: $text-sec;
          padding-left: 10px;
          padding-right: 10px;
          font-size: 16px;
          height: 30px;
        }

        &__result{
          display: flex;
          align-items: center;
          height: 30px;
          padding-left: 10px;
          padding-right: 10px;
          color: $text-sec;
          font-size: 16px;

          &:hover{
            color: $block-main;
            cursor: default;
          }
        }

        & p{
          width: 90%;
          background: $text-sec;
          height: 1px;
          align-self: center;
        }
      }

      &__search{
        display: flex;
        align-items: center;

        & svg {
          position: relative;
          right: 0;
        }

        &__unactive{
          opacity: 0;
        }

        &__active{
          opacity: 1;
          width: 200px !important;
          padding-left: 10px;
          padding-right: 30px;
        }

        & input{
          position: relative;
          right: -25px;
          height: 100%;
          border: 1px solid $text-sec;
          outline: none;
          font-size: 16px;
          transition: all 0.5s;
          width: 1px;

          &::placeholder{
            color: $text-sec;
          }
        }
      }

      & path{
        transition: all 0.5s;
      }

      & svg:hover path{
        stroke: black;
      }
    }
  }

  &__logo{
    background: url(../../public/images/logo.png);
    height: 70px;
    width: 156px;
    position: relative;
    top: 30px;
  }
}

.bottom{
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;

  &__btns{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    &__btn{
      height: 100%;

      & a {
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        color: $text-main;

        &:after {
          display:block;
          content: '';
          border-bottom: solid 2px $text-main;
          transform: scaleX(0);
          transition: transform 500ms ease-in-out;
          width: 100%;
          margin-top: 3px;
        }

        &:after{ transform-origin: 0% 50%; }

        &:hover:after{ transform: scaleX(1); transform-origin: 0% 50%; }
      }
    }
  }
}

.popup {
  display: none;
}


.popup_active{
  border-top: 1px solid $block-main;
  border-bottom: 1px solid $block-main;
  top: 100%;
  width: 100%;
  // height: 576px;
  z-index: 1000;
  background-color: $block-thrd;
  position: absolute;
  padding: 50px 0px;
  display: flex;
  gap: 30px;

  &__list {
    width: 272px;
    display: flex;
    flex-direction: column;
    height: 100%;
    display: flex;
    flex-direction: column;

    & li {
      position: relative;
      margin-bottom: 30px;
    }

    & li:last-child{
      margin-bottom: 0px;
    }

    & a {
      width: 272px;
      font-weight: 400;
      font-size: 16px;
      color: $text-main;
    }

    & svg{
      position: absolute;
      right: 0;
      top: 25%;
    }

    &__link:hover a{
      color: $block-main;
    }

    &__linkDisabel a{
      color:$text-sec;
    }

    &__linkDisabel:hover a{
      color: $block-main;
    }

  }

  .popup_semilist {
    display: none;
  }

  .popup_semilist_active {
    display: flex;
    flex-direction: column;
    width: 272px;

    & li {
      margin-bottom: 30px;
    }

    & a {
      color: $text-main;
    }
  }

  
}
