@import "../vars";

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 180px;
  transition: transform 0.2s ease-in-out;
  background: white;
  z-index: $z-index-popup;
}

.wrapper {
  height: 100%;
  width: 1400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.top{
  width: 100%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  &__nav{
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid $block-main;
  }



  &__btns{
    display: flex;
    align-items: center;
    gap: 20px;

    & a{
      display: flex;
      align-items: center;

      & img{
        width: 28px;
        height: 30px;
        object-fit: cover;
      }
    }

    &__auth{
      border-radius: 50%;
      border: 1px solid #00000050;
      overflow: hidden;
      cursor: pointer;
      width: 30px;
      height: 30px;

      & svg{
        width: 100%;
        height: 100%;
        opacity: 0.6;
      }
    }

    &__image{
      border-radius: 50%;
      border: 1px solid #00000050;
      overflow: hidden;

      & img{
        width: 100%;
        height: 100%;
      }
    }

    &__btn{
      display: flex;
      align-items: center;
      cursor: pointer;
      height: 30px;

      &__count{
        background: $block-main;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        margin-bottom: 15px;
        margin-left: 10px;
        color: #A0A0A0
      }

      &__container{
        height: 100%;

        &__results {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          height: 30px;
        }
      }

      &__results {
        position: relative;
        display: flex;
        flex-direction: column;
        background: white;
        width: 200px;
        border: 1px solid $text-sec;
        border-top: none;
        right: -25px;

        &__notfound{
          display: flex;
          align-items: center;
          color: $text-sec;
          padding-left: 10px;
          padding-right: 10px;
          font-size: 16px;
          height: 50px;
        }

        &__result{
          display: flex;
          align-items: center;
          height: 55px;
          padding-left: 10px;
          padding-right: 10px;
          color: $text-sec;
          font-size: 16px;

          &:hover{
            color: $block-main;
            cursor: pointer;
          }
        }

        & p{
          width: 90%;
          background: $text-sec;
          height: 1px;
          align-self: center;
        }
      }

      &__search{
        display: flex;
        align-items: center;
        z-index: $z-index-popup;

        & svg {
          position: relative;
          right: 0;
        }

        &__unactive{
          opacity: 0;
        }

        &__active{
          opacity: 1;
          width: 200px !important;
          padding-left: 10px;
          padding-right: 30px;
        }

        & input{
          position: relative;
          right: -25px;
          height: 100%;
          border: 1px solid $text-sec;
          outline: none;
          font-size: 16px;
          transition: all 0.5s;
          width: 1px;
          padding: 15px;

          &::placeholder{
            color: $text-sec;
          }
        }
      }

      & path{
        transition: all 0.5s;
      }

      & svg:hover path{
        stroke: black;
      }
    }
  }

  &__logo{
    background: url(../../public/images/logo.png);
    height: 70px;
    width: 156px;
    position: relative;
    top: 30px;
  }
}

.bottom{
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;

  &__btns{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    &__btn{
      height: 100%;

      & a {
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        color: $text-main;

        &:after {
          display:block;
          content: '';
          border-bottom: solid 1px $text-main;
          transform: scaleX(0);
          transition: transform 500ms ease-in-out;
          width: 100%;
          margin-top: 3px;
        }

        &:after{ transform-origin: 0% 50%; }

        &:hover:after{ transform: scaleX(1); transform-origin: 0% 50%; }
      }
    }
  }
}

.popup {
  width: 100%;
  z-index: $z-index-popup;
  display: flex;
  position: absolute;
  clip: rect(auto, auto, 0, auto);
  transition: clip 0.5s;
  top: 177px;
  background-color: $block-thrd;
  overflow: hidden;
}

.popup_active{
  border-bottom: 1px solid $block-main;
  top: 177px;
  width: 100%;
  background-color: $block-thrd;
  gap: 30px;
  z-index: $z-index-popup;
  height: auto;
  display: flex;
  position: absolute;
  clip: rect(auto, auto, 44rem, auto);
  transition: clip 0.3s ease-in;
  overflow: hidden;

  &__container {
    width: 1400px;
    display: flex;
    margin: 0 auto;
    padding: 50px 0px;
    border-top: 1px solid $block-main;
  }

  &__semilist {
    display: none;
  }

  &__semilist_active {
    display: flex;
    flex-direction: column;
    width: 272px;

    & li {
      margin-bottom: 30px;
    }

    & a {
      color: $text-main;
    }

    & a:hover{
      color: $block-main;
    }
  }

  &__list {
    width: 300px;
    display: flex;
    flex-direction: column;
    height: 516px;
    overflow-y: auto;
    margin-right: 32px;

    & li {
      position: relative;
      margin-bottom: 24px;
      margin-right: 24px;
    }

    & li:last-child{
      margin-bottom: 0px;
    }

    & a {
      width: 272px;
      font-weight: 400;
      font-size: 16px;
      color: $text-main;
    }

    & svg{
      position: absolute;
      right: 0;
      top: 25%;
    }

    &__link:hover a{
      color: $block-main;
    }

    &__linkDisabel a{
      color:$text-sec;
    }

    &__linkDisabel:hover a{
      color: $block-main;
    }

  }
}

.dropdown{
  display: flex !important;
}

@media screen and (max-width: 1400px) {
  .wrapper {
    width: 1000px;
  }

  .popup_active{

    &__container{
      width: 1000px;
    }
  }
}

@media screen and (max-width: 1050px) {
  .wrapper {
    width: 700px;
  }

  .popup_active{

    &__container{
      width: 700px;
    }
  }
}

@media screen and (max-width: 700px) {
  .wrapper {
    width: 700px;
  }

  .top{

    &__menu{
      display: flex;
      align-items: center;
      gap: 30px;
      height: 30px;
    }

    &__nav{
      height: 70px;
      padding: 0 20px;
      align-items: center;
    }

    & a{
      height: 30px;
      width: auto;
    }

    &__logo{
      height: 100%;
      width: 150px;
      background-size: contain;
      background-repeat: no-repeat;
      top: 0;
    }
  }

  .dropdown{
    margin-right: 20px;
    color: black !important;

    & svg{

      & path{
        fill: #000000 !important;
      }
    }
  }

  .header{
    height: auto;

    &__active{
      position: fixed;
      top: 0;
    }

    &__placeholder{
      height: 70px;
    }
  }

  .bottom{
    display: none;
  }

  .popup{
    top: 70px;
  }

  .popup_active{
    border-bottom: 1px solid #FFCBCC;
    position: fixed;
    top: 70px;
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    clip: rect(auto, auto, 100vh, auto);

    &__list{
      width: 100%;
      align-items: flex-start;
      gap: 20px;
      padding: 0 20px;
      overflow: hidden;
      overflow-y: auto;

      &__catalog{
        display: flex;
        align-items: center;
        max-width: 100%;

        &__svg{

          & path{
            fill: #000000 !important;
          }
        }

        &__container{
          height: 0;
          margin: -10px;
          transition: all 0.3s ease-in;

          &__active{
            margin: 0;
            height: 44rem !important;
          }
        }

        &__list{
          position: absolute;
          clip: rect(auto, auto, 0, auto);
          transition: clip 0.3s ease-in;
          overflow: hidden;
          display: flex;
          flex-direction: column;
          overflow-y: auto;
          max-height: 310px;
          max-width: 80%;
          gap: 10px;

          & div{
            width: 100%;
            padding-right: 5px;
          }
        }

        &__active{
          clip: rect(auto, auto, 310px, auto);
        }
      }

      &__main{
        width: 100%;
        display: flex;
        justify-content: space-between;
      }

      & svg{
        position: relative;
        top: 0;
        width: 20px;
        min-width: 20px;
        max-width: 20px;
      }
    }

    &__container{
      width: 100%;
      height: 100%;
      padding: 30px 0;
    }
  }
}
