@import "../vars";

.partnership{
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #00000050;
  z-index: $z-index-modal;
  transition: all 0.3s;
  opacity: 0;
  display: flex;
  visibility: hidden;
  flex-direction: column;
  cursor: pointer;

  &__active{
    visibility: visible;
    opacity: 1 !important;

    & .partnership__form{
      right: 0 !important;
    }
  }

  &__form{
    position: absolute;
    right: -800px;
    width: 800px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background: $block-thrd;
    transition: all 0.5s;
    font-size: 18px;
    cursor: auto;

    &__close{
      position: fixed;
      top: 40px;
      transition: all 0.5s;
      right: 0;
      z-index: 9;
      cursor: pointer;

      &__active{
        right: 50px !important;
      }
    }

    &__container{
      width: 60%;
      height: 80%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      overflow-y: auto;
      padding: 0 20px;

      & p{
        color: $text-sec;
        text-align: left;
      }

      & h1{
        font-size: 45px;
      }

      &__button{
        width: 272px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        font-size: 16px;

        & p{
          color: $text-error;
        }

        & button {
          padding: 15px 45px;
          font-size: 16px;
        }
      }

      &__input{
        display: flex;
        flex-direction: column;
        gap: 15px;


        & input{
          width: 100%;
          border: none;
          height: 40px;
          border-bottom: 1px solid black;
          padding: 25px 10px;
          font-size: 25px;
        }
      }
    }
  }
}

@media screen and (max-width: 1050px) {
  .partnership{

    &__form {
      width: 600px;
      font-size: 16px;

      &__container{

        & h1{
          font-size: 35px;
        }

        & h2{
          font-size: 20px;
        }

        & input{
          font-size: 18px;
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .partnership{

    &__form {
      width: 100%;
      font-size: 14px;

      &__container{
        gap: 30px;

        &__button{
          width: 100%;

          & button{
            font-size: 12px;
            padding: 10px 15px;
          }
        }

        & h1{
          font-size: 20px;
        }

        & h2{
          font-size: 18px;
          margin-top: 10px;
        }

        & input{
          font-size: 14px;
          padding: 15px 10px;
        }
      }
    }
  }
}