$text-main: #1e1d1d;
$text-sec: #A0A0A0;
$text-thrd: #ffffff;
$text-error: red;

$block-main: #FFCBCC;
$block-sec: #A4A4A4;
$block-thrd: #ffffff;
$block-frth: #CCCBFF;
$block-fifth: #F299E4;
$block-disabled: #6C6C6C;
$under-line-color: #D7D7D7;
$block-success: #44B571;
$block-compl: rgba(0, 0, 0, 0.90);

$z-index-base: 3;
$z-index-dropdown: 4;
$z-index-popup: 5;
$z-index-modal: 6;
$z-index-page: 7;

$scroll-main: #FFCBCC;
$scroll-sec: #f6f2f2;
