@import "vars";

@font-face {
  font-family: 'RockStar';
  src: url('../public/fonts/RockStar/RS-regular.otf');
  font-weight: 400;
  font-style: normal;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'RockStar', serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
  min-height: 100vh;
}

.swiper-pagination-bullet {
  background: $block-thrd !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background: $block-sec !important;
}

html{
  scrollbar-color: $block-main #00000000;
  scrollbar-width: thin;
}

::-webkit-scrollbar{
  width: 10px;
  height: 10px;
  background-color: $block-thrd;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: $block-main;
  border-radius: 5px;
}