@import "colors";

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
}

.swiper-pagination-bullet {
  background: $block-thrd !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background: $block-sec !important;
}